<main>
  {{!-- {{#get "posts" filter="tag:blog"}} --}}
  {{#foreach posts}}
  <div class="post-preview-area clearfix" data-tags="{{#foreach tags}}{{slug}} {{/foreach}}">
    <a href="{{url}}">
      <h2 class="post-title">{{title}}</h2>
      <time class="blog-post-date month" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM D, YYYY"}}</time>
      {{#if image}}
      <div class="content-preview-image" style="background-image: url('{{image}}')">
        {{else}}
        <div class="content-preview-image" style="background-image: url('/assets/images/blog-image-placeholder.jpg')">
          {{/if}}
        </div>
      </a>

      <div class="content-preview-area">
        {{#if meta_description}}
        <p class="meta-description">{{meta_description}}</p>
        {{else}}
        <p class="meta-description">{{excerpt words="50"}}...</p>
        {{/if}}
        {{!--  --}}
        <div class="preview-tags">{{tags separator=" "}}</div>
      </div>
    </div>
    {{/foreach}}
    {{!-- {{/get}} --}}

    <div class="pagination-container">
      {{pagination}}
    </div>
  </main>

  <aside>
    <section>
      <div class="section-content start">
        <a href="/start-here/" class="start-here-button">
          <h3>First visit?</h3>
          <h4><i class="site-title">Keepit<span>137</span></i> is about my journey into running and a deeper look into the process of habit formation.</h4>
          <h4>Click to learn more the project.</h4>
        </a>
      </section>
      <section class="loop-section">
        <h2 class="section-title">Essential reading</h2>
        <div class="section-content">
          {{> "aside_featured_loop"}}
        </div>
      </section>
      <section class="topics-section">
        <h2 class="section-title">Topics</h2>
        <div class="section-content">
          {{#get "tags" limit="all" order="name asc" include="count.posts"}}
          {{#foreach tags}}
          <p><a href="{{url}}">{{name}} ({{count.posts}})</a></p>
          {{/foreach}}
          {{/get}}
        </div>
      </section>
      <section class="loop-section">
        <h2 class="section-title">Daily running log</h2>
        <div class="section-content overflow-loop-content">
          {{> "aside_daily_loop"}}
        </div>
      </section>

    </aside>