{{#get "posts" include="tags"}}
{{#foreach posts}}

<div class="post-preview-area" data-tags="{{#foreach tags}}{{name}} {{/foreach}}">
  {{!-- <div class="post-date-container"> --}}
  {{!-- <time class="blog-post-date day" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D"}}</time> --}}
  {{!-- </div> --}}
  <div class="content-preview-area">
    <a class="post-title" href="{{url}}">
      <h2>{{title}}</h2>
    </a>
    <time class="blog-post-date month" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM D, YYYY"}}</time>

    {{#if image}}
    <img class="content-preview-image" src="{{image}}">
    {{/if}}
    <p>{{excerpt words="35"}} <a class="read-more" href="{{url}}">Read more &raquo;</a></p>
  </div>
</div>
{{/foreach}}
{{/get}}